h1 {
  color: DarkBlue;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background: linear-gradient(90deg,#228B22,#FFFAF0, #00FFFF);
}

h2 {
  color: DarkBlue;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 50px;
  background: linear-gradient(90deg,#228B22 ,#FFFAF0, #00FFFF);
}

h3 {
  color: DarkBlue;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 30px;
  background: linear-gradient(90deg,#228B22, #FFFAF0, #00FFFF);
}

body {
  text-align: center;
  background: linear-gradient(90deg, #228B22,#FFFAF0, #00FFFF);

}
